<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.digisin.collabroute"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="sensor">
        <activity android:name="it.digisin.collabroute.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.digisin.collabroute.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="it.digisin.collabroute.RegistrationActivity" />
        <activity
            android:name="it.digisin.collabroute.travelListActivity"
            android:label="@string/title_travel_list" >
        </activity>
        <activity
            android:name="it.digisin.collabroute.travelDetailActivity"
            android:parentActivityName="it.digisin.collabroute.travelListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.digisin.collabroute.travelListActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
